openapi: 3.2.0
info:
  title: Cradlepoint NetCloud Manager API v2 Alert Rules API
  description: RESTful API to the Cradlepoint NetCloud Manager (NCM) platform.
  version: '2.0'
  contact:
    name: Ericsson Enterprise Wireless / Cradlepoint Support
    url: https://customer.cradlepoint.com/
  termsOfService: https://cradlepoint.com/about-us/legal/
servers:
- url: https://www.cradlepointecm.com/api/v2
  description: NetCloud Manager Production
security:
- CradlepointApiKey: []
  NetCloudApiKey: []
tags:
- name: Alert Rules
  description: Alert monitoring rule configuration
paths:
  /alert_rules/:
    get:
      summary: List Alert Rules
      description: Alert-rule definitions monitoring health and status of the account.
      operationId: listAlertRules
      tags:
      - Alert Rules
      responses:
        '200':
          description: Alert rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRuleList'
    post:
      summary: Create An Alert Rule
      description: Configure a new alert rule.
      operationId: createAlertRule
      tags:
      - Alert Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRule'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
components:
  schemas:
    Meta:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total_count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
    AlertRuleList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlertRule'
        meta:
          $ref: '#/components/schemas/Meta'
    AlertRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        enabled:
          type: boolean
        scope:
          type: string
          description: account, group, or router
        target:
          type: string
        push_destinations:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    CradlepointApiKey:
      type: apiKey
      in: header
      name: X-CP-API-ID
      description: Cradlepoint account API ID (paired with X-CP-API-KEY).
    NetCloudApiKey:
      type: apiKey
      in: header
      name: X-ECM-API-ID
      description: NCM tenant API ID (paired with X-ECM-API-KEY), carries the NCM role.
