openapi: 3.1.0
info:
  title: Cradlepoint NetCloud Manager API v2 Accounts NetDevices API
  description: "RESTful API to the Cradlepoint NetCloud Manager (NCM) platform. Lets\nclient applications perform programmatically many of the same operations\navailable in the NCM user interface: enumerate accounts, manage routers\nand groups, configure them, listen to alerts, ingest device telemetry,\ntrack location history, and administer users and subscriptions.\n\nAuthentication uses two header pairs sent on every request:\n  * X-CP-API-ID / X-CP-API-KEY — Cradlepoint API keys (account-level,\n    used for API-usage tracking, available from the Getting Started page\n    of developer.cradlepoint.com).\n  * X-ECM-API-ID / X-ECM-API-KEY — NetCloud (ECM) API keys generated by\n    an NCM administrator from the Tools tab in NCM. These keys carry the\n    NCM role assignment (Administrator, Full Access User, Read Only User,\n    Diagnostic User) and authorize what the request can do.\n"
  version: '2.0'
  contact:
    name: Ericsson Enterprise Wireless / Cradlepoint Support
    url: https://customer.cradlepoint.com/
  termsOfService: https://cradlepoint.com/about-us/legal/
servers:
- url: https://www.cradlepointecm.com/api/v2
  description: NetCloud Manager Production
security:
- CradlepointApiKey: []
  NetCloudApiKey: []
tags:
- name: NetDevices
  description: Modems, WAN devices, and network interfaces on routers
paths:
  /net_devices/:
    get:
      summary: List Net Devices
      description: Modems and network interfaces (WAN, LAN, modem, ethernet) on routers.
      operationId: listNetDevices
      tags:
      - NetDevices
      parameters:
      - name: router
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of net devices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetDeviceList'
components:
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of records to return per page.
      schema:
        type: integer
        default: 20
        maximum: 500
    Offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  schemas:
    NetDevice:
      type: object
      properties:
        id:
          type: string
        router:
          type: string
        type:
          type: string
          description: modem, ethernet, lan, wan
        connection_state:
          type: string
        carrier:
          type: string
        homecarrier:
          type: string
        signal_strength:
          type: integer
        rsrp:
          type: integer
        rsrq:
          type: integer
        iccid:
          type: string
        imei:
          type: string
        ipv4_address:
          type: string
    NetDeviceList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NetDevice'
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total_count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
  securitySchemes:
    CradlepointApiKey:
      type: apiKey
      in: header
      name: X-CP-API-ID
      description: Cradlepoint account API ID (paired with X-CP-API-KEY).
    NetCloudApiKey:
      type: apiKey
      in: header
      name: X-ECM-API-ID
      description: NCM tenant API ID (paired with X-ECM-API-KEY), carries the NCM role.
