openapi: 3.2.0
info:
  title: Cradlepoint NetCloud Manager API v2 Alert Push Destinations…
  description: RESTful API to the Cradlepoint NetCloud Manager (NCM) platform.
  version: '2.0'
  contact:
    name: Ericsson Enterprise Wireless / Cradlepoint Support
    url: https://customer.cradlepoint.com/
  termsOfService: https://cradlepoint.com/about-us/legal/
servers:
- url: https://www.cradlepointecm.com/api/v2
  description: NetCloud Manager Production
security:
- CradlepointApiKey: []
  NetCloudApiKey: []
tags:
- name: AlertPushDestinations
  description: Outbound webhook destinations for alert delivery
paths:
  /alert_push_destinations/:
    get:
      summary: List Alert Push Destinations
      description: Configured outbound HTTP destinations (webhooks) for alert delivery.
      operationId: listAlertPushDestinations
      tags:
      - AlertPushDestinations
      responses:
        '200':
          description: Push destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPushDestinationList'
    post:
      summary: Create An Alert Push Destination
      description: Register a webhook URL that should receive alert JSON payloads.
      operationId: createAlertPushDestination
      tags:
      - AlertPushDestinations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertPushDestination'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertPushDestination'
components:
  schemas:
    AlertPushDestinationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AlertPushDestination'
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total_count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
    AlertPushDestination:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
          format: uri
        method:
          type: string
          enum:
          - POST
          - PUT
          default: POST
        headers:
          type: object
          additionalProperties:
            type: string
        enabled:
          type: boolean
  securitySchemes:
    CradlepointApiKey:
      type: apiKey
      in: header
      name: X-CP-API-ID
      description: Cradlepoint account API ID (paired with X-CP-API-KEY).
    NetCloudApiKey:
      type: apiKey
      in: header
      name: X-ECM-API-ID
      description: NCM tenant API ID (paired with X-ECM-API-KEY), carries the NCM role.
