openapi: 3.2.0
info:
  title: Cradlepoint NetCloud Manager API v2 Activity Logs API
  description: RESTful API to the Cradlepoint NetCloud Manager (NCM) platform.
  version: '2.0'
  contact:
    name: Ericsson Enterprise Wireless / Cradlepoint Support
    url: https://customer.cradlepoint.com/
  termsOfService: https://cradlepoint.com/about-us/legal/
servers:
- url: https://www.cradlepointecm.com/api/v2
  description: NetCloud Manager Production
security:
- CradlepointApiKey: []
  NetCloudApiKey: []
tags:
- name: Activity Logs
  description: Audit / activity logs across accounts
paths:
  /activity_logs/:
    get:
      summary: List Activity Logs
      description: View activities and changes within the authenticated account.
      operationId: listActivityLogs
      tags:
      - Activity Logs
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of activity-log entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityLogList'
components:
  schemas:
    ActivityLogList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ActivityLog'
        meta:
          $ref: '#/components/schemas/Meta'
    ActivityLog:
      type: object
      properties:
        id:
          type: string
        account:
          type: string
        actor:
          type: string
        action:
          type: string
        target:
          type: string
        created_at:
          type: string
          format: date-time
    Meta:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total_count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of records to return per page.
      schema:
        type: integer
        default: 20
        maximum: 500
    Offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
  securitySchemes:
    CradlepointApiKey:
      type: apiKey
      in: header
      name: X-CP-API-ID
      description: Cradlepoint account API ID (paired with X-CP-API-KEY).
    NetCloudApiKey:
      type: apiKey
      in: header
      name: X-ECM-API-ID
      description: NCM tenant API ID (paired with X-ECM-API-KEY), carries the NCM role.
